.adminNavbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:white;
    box-shadow: 10px 5px 5px black;
    position:fixed;
    top: 0;
    width: 100%;
    
    
}
.middle_lkink li{
display: inline-block;
padding: 0px 15px;
}
.middle_lkink a{
  
    text-decoration: none;
}

.left_link h1{
    padding-left: 30px;
    text-decoration: none;
   
}
.right_link a{
    padding-right: 30px;
    text-decoration: none;
    
}
.App{
    margin: 0px;
}
